.links {
    text-decoration: none;
    color: black;
}

.fundo {
    background-color: gray;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.corbotao{
    border-radius: 100px;
    background-color: rgb(161, 0, 0);
}
.icones{
    color: white;
}
.teste{
    width: 50px;
}